.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}

header {
  background:
      radial-gradient(
        circle at top,
        rgba(0,0,0,0.08),
        transparent 70%
      );
    padding: 40px 40px 10px;
    border-radius: 24px;  
}

body {
  background: linear-gradient(
    180deg, 
    #e0d4c3 0%, 
    #c6b4a4 25%,
    #ac9485 50%,
    #927466 75%,
    #795548 100%
    );
  font-family: "Georgia", serif;
  font-size: 20px;
  min-height: 100vh;
  margin: 0;
  color: beige;
  margin-left: 30px;
  margin-right: 30px;
}


img {
  display: grid;
  margin: auto;
  max-width: 700px;
  box-shadow: 0 4px 16px black;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fade-in {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1.2s ease-out;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

button {
    background: linear-gradient(#bba591, #f3efe8);
    font-size: 20px;
    font:bold, "Georgia", serif;
    color: #5c4033;
    cursor: pointer;
    width: 500px;
    height: 50px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
}
