.container {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

@media screen and (min-width: 600px) {
	.container {
		flex-direction: row;
	}
}

header {
	background:
    	radial-gradient(
      	circle at top,
      	rgba(0,0,0,0.08),
      	transparent 70%
    	);
  	padding: 40px 40px 10px;
  	border-radius: 24px;	
}

body {
	background: 
		linear-gradient(
			180deg,
			#e9dfd2 0%,
      		#f3efe8 35%,
      		#e6d7c3 70%,
      		#d8c6b1 100%
		);
	min-height: 100vh;
	margin-left: 30px;
	margin-right: 30px;
	color:#341c02;
}

h2 {
	font-family:"Georgia", serif;	
}

.screens {
	text-align: center;	
}

p {
	font-family:"Georgia", serif;
	font-size: 23px;
	text-align: center;
}

.hero-summary {
	text-align: left;
	font-family:"Georgia", serif;
	font-size: 25px;	
}

.motivation {
	text-align: left;
	font-size: 25px;
}

img {
	 display: grid;
     margin: auto;
     max-width: 700px;
     box-shadow: 0 4px 16px black;
     border-radius: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
}

.fade-in {
	opacity: 0;
	transform: translateY(60px);
	transition: all 1.2s ease-out;
}

.fade-in.is-visible {
	opacity: 1;
	transform: translateY(0);
}

hr {
	height: 5px;
	margin: 20px 0;
	background-color: #341c02;
}

li {
	font-family:"Georgia", serif;
	font-size: 20px;
	text-align: left;
}

button {
	background: linear-gradient(#bba591, #f3efe8);
	font-size: 20px;
	font:bold, "Georgia", serif;
	color: #5c4033;
	cursor: pointer;
	width: 150px;
	height: 100px;
	box-shadow: 5px 5px 10px black;
	border-radius: 20px;
}
